if SHIELD_GAMEBOX58_LEFT

config ZMK_KEYBOARD_NAME
	default "Gamebox58"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_GAMEBOX58_LEFT || SHIELD_GAMEBOX58_RIGHT

config ZMK_SPLIT
	default y

endif