/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <../boards/shields/corne/boards/nice_nano.overlay>

/ {
    keymap {
        compatible = "zmk,keymap";

        L0_layer {
            // -----------------------------------------------------------------------------------------
            // |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | 2&TAB|  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |  GUI |
            //                    | CTRL|  1  |3&SPC|   | ENT |     |  ALT  |
            bindings = <
                &kp ESC    &kp Q   &kp W   &kp E   &kp R   &kp T        &kp Y   &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &lt 2 TAB  &kp A   &kp S   &kp D   &kp F   &kp G        &kp H   &kp J  &kp K     &kp L   &kp SEMI &kp SQT
                &kp LSHFT  &kp Z   &kp X   &kp C   &kp V   &kp B        &kp N   &kp M  &kp COMMA &kp DOT &kp FSLH &kp LGUI
                                        &kp LCTRL  &mo 1  &lt 3 SPACE   &kp RET &mo 3  &kp LALT
            >;
        };

        L1_layer {
            // -----------------------------------------------------------------------------------------
            // |  `  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // |  ~  |  1  |  2  |  3  |  4  |  5  |   |  -  |  =  |  \  |  [  |  ]  |      |
            // | SHFT|  6  |  7  |  8  |  9  |  0  |   |  _  |  +  |  |  |  {  |  }  |  GUI |
            //                   | CTRL|     | SPC |   | ENT |     |  ALT  |
            bindings = <
                &kp GRAVE &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp STAR  &kp LPAR  &kp RPAR   &kp BSPC
                &kp TILDE &kp N1    &kp N2   &kp N3    &kp N4    &kp N5       &kp MINUS  &kp EQUAL &kp BSLH  &kp LBKT  &kp RBKT   &none
                &kp LSHFT &kp N6    &kp N7   &kp N8    &kp N9    &kp N0       &kp UNDER  &kp PLUS  &kp PIPE  &kp LBRC  &kp RBRC   &kp LGUI
                                             &kp LCTRL &none     &kp SPACE    &kp RET    &none     &mo 4
            >;
        };

        L2_layer {
            // -----------------------------------------------------------------------------------------
            // |     |     |     |     |     |     |   |     |     |     |     |     | BKSP |
            // |     |     |     |     |     |     |   | LEFT| DOWN|  UP |RIGHT|     |      |
            // | SHFT|     |     |     |     |     |   |     |     |     |     |     |      |
            //                   | CTRL|     | ENT |   | ENT |     | ALT |
            bindings = <
                &none     &none    &none    &none    &none     &none        &none     &none     &none     &none     &none    &kp BSPC
                &none     &none    &none    &none    &none     &none        &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &none    &none
                &kp LSHFT &none    &none    &none    &none     &none        &none     &none     &none     &none     &none    &none
                                           &kp LCTRL &none     &kp RET      &kp RET   &none     &kp LALT
            >;
        };

       L3_layer {
            // -----------------------------------------------------------------------------------------
            // |  0  |  1  |  2  |  3  |  %  |  =  |   |  F1  |  F2  |  F3  |  F4  |  F5  |  DEL |
            // |  .  |  4  |  5  |  6  |  -  |  +  |   |  F6  |  F7  |  F8  |  F9  |  F10 |      |
            // |     |  7  |  8  |  9  |  /  |  *  |   |  F11 |  F12 |      |      |      |      |
            //                   |     |     |     |   |      |      |  4   |
            bindings = <
                &kp KP_N0  &kp KP_N1  &kp KP_N2  &kp KP_N3  &kp PRCNT     &kp EQUAL         &kp F1    &kp F2    &kp F3    &kp F4    &kp F5   &kp DEL
                &kp KP_DOT &kp KP_N4  &kp KP_N5  &kp KP_N6  &kp KP_MINUS  &kp KP_PLUS       &kp F6    &kp F7    &kp F8    &kp F9    &kp F10  &none
                &none      &kp KP_N7  &kp KP_N8  &kp KP_N9  &kp KP_SLASH  &kp KP_MULTIPLY   &kp F11   &kp F12   &none     &none     &none
                                                 &none      &none         &none             &none     &none     &mo 4
            >;
        };

        L4_layer {
            // -----------------------------------------------------------------------------------------
            // |      |     |     |     |     |     |   |RESET|     |     |     |     |      |
            // |      |     |     |     |     | OUT |   |     |     |     |     |     |      |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |      |
            //                    |     |     |     |   |     |     |     |
            bindings = <
                &none       &none         &none         &none         &none         &none           &sys_reset  &none  &none  &none  &none  &none
                &none       &none         &none         &none         &none         &out OUT_TOG    &none       &none  &none  &none  &none  &none
                &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none       &none  &none  &none  &none  &none
                                                        &none         &none         &none           &none       &none  &none
            >;
        };
    };
};