// butterfly36.keymap

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&mt {
    flavor = "hold-preferred";
    tapping-term-ms = <175>;
    quick-tap-ms = <175>;

    // retro-tap;
};

&lt {
    flavor = "hold-preferred";
    tapping-term-ms = <175>;
    quick-tap-ms = <175>;

    // retro-tap;
};

/ {
    behaviors {
        bmt: balanced_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <200>;
            bindings = <&kp>, <&kp>;
        };

        blt: balanced_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;    // <---[[moderate duration]]
            quick-tap-ms = <200>;
            bindings = <&mo>, <&kp>;
        };

        tmt: tap_preferred_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";

            //retro-tap;

            tapping-term-ms = <175>;    // <---[[moderate duration]]
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        tlt: tap_preferred_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";

            //retro-tap;

            tapping-term-ms = <175>;    // <---[[moderate duration]]
            quick-tap-ms = <175>;
            require-prior-idle-ms = <125>;
            bindings = <&mo>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        L0_layer {
            bindings = <
&kp Q     &kp W        &kp E        &kp R          &kp T        &kp Y          &kp U         &kp I        &kp O        &kp P
&tlt 1 A  &tmt LGUI S  &tmt LALT D  &tmt LSHFT F   &kp G        &kp H          &tmt RSHFT J  &tmt RALT K  &tmt RGUI L  &tmt RCTRL SQT
&tlt 5 Z  &kp X        &kp C        &kp V          &kp B        &kp N          &kp M         &kp COMMA    &kp DOT      &kp FSLH
                                    &mt LCTRL ESC  &lt 2 SPACE  &kp BACKSPACE  &kp RET
            >;
        };

        L1_layer {
            bindings = <
&none  &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp LS(TAB)  &none     &none     &none   &none      &none
&none  &kp LGUI      &kp LALT    &kp LSHFT     &kp TAB      &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none
&none  &none         &kp F8      &kp F2        &kp F12      &none     &none     &none   &none      &none
                                 &kp BSPC      &kp RET      &kp RET   &kp DEL
            >;
        };

        L2_layer {
            bindings = <
&kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT  &kp CARET    &kp AMPS   &kp STAR  &kp SEMI  &kp COLON
&kp N1    &kp N2  &kp N3    &kp N4    &kp N5     &kp MINUS    &kp EQUAL  &kp LBKT  &kp LBRC  &kp LPAR
&kp N6    &kp N7  &kp N8    &kp N9    &kp N0     &kp UNDER    &kp PLUS   &kp RBKT  &kp RBRC  &kp RPAR
                            &none     &none      &lt 3 GRAVE  &kp BSLH
            >;
        };

        L3_layer {
            bindings = <
&kp F1   &kp F2   &kp F3  &kp F4  &kp F5   &kp HOME    &kp PG_DN     &kp PG_UP   &kp END       &none
&kp F6   &kp F7   &kp F8  &kp F9  &kp F10  &kp LEFT    &kp DOWN      &kp UP      &kp RIGHT     &none
&kp F11  &kp F12  &none   &none   &none    &kp C_PREV  &kp C_VOL_DN  &kp C_MUTE  &kp C_VOL_UP  &kp C_NEXT
                          &none   &mo 4    &none       &none
            >;
        };

        L4_layer {
            // -----------------------------------------------------------------------------------------
            // |BTCLR|     |     | BOOT|RESET|   |RESET| BOOT|     |     |     |
            // |     |     |     |     | OUT |   |     |     |     |     |     |
            // | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |
            //             |     |     |     |   |     |     |     |

            bindings = <
&bt BT_CLR    &none         &none         &bootloader   &sys_reset    &sys_reset  &bootloader  &none  &none  &none
&none         &none         &none         &none         &out OUT_TOG  &none       &none        &none  &none  &none
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none       &none        &none  &none  &to 6
                                          &none         &none         &none       &none
            >;
        };

        L5_layer {
            bindings = <
&kp P     &kp O    &kp I      &kp U  &kp Y  &none  &none  &none  &none  &none
&kp SEMI  &kp L    &kp K      &kp J  &kp H  &none  &none  &none  &none  &none
&kp FSLH  &kp DOT  &kp COMMA  &kp M  &kp N  &none  &none  &none  &none  &none
                              &none  &none  &none  &none
            >;
        };
    };
};
