// tbk_mini.keymap

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        L0_layer {
            // -----------------------------------------------------------------------------------------
            // |  ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U  |  I  |  O  |  P  | BKSP |
            // | 2&TAB|  A  |  S  |  D  |  F  |  G  |   |  H  |  J  |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M  |  ,  |  .  |  /  |  GUI |
            //                    | CTRL|  1  |5&SPC|   | ENT |  3  | ALT |
            bindings = <
                &kp ESC    &kp Q   &kp W   &kp E   &kp R   &kp T        &kp Y   &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &lt 2 TAB  &kp A   &kp S   &kp D   &kp F   &kp G        &kp H   &kp J  &kp K     &kp L   &kp SEMI &kp SQT
                &kp LSHFT  &kp Z   &kp X   &kp C   &kp V   &kp B        &kp N   &kp M  &kp COMMA &kp DOT &kp FSLH &kp LGUI
                                        &kp LCTRL  &mo 1   &lt 5 SPACE    &kp RET &mo 3  &kp LALT
            >;
        };

        L1_layer {
            // -----------------------------------------------------------------------------------------
            // |  `  |  1  |  2  |  3  |  4  |  5  |   |  _  |  +  |  |  |     |  {  |  }  |
            // |  ~  |  6  |  7  |  8  |  9  |  0  |   |  -  |  =  |  \  |     |  [  |  ]  |
            // |  .  |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |     |  (  |  )  |
            //                   | CTRL|     | SPC |   | ENT |     | ALT |
            bindings = <
                &kp GRAVE &kp N1    &kp N2   &kp N3    &kp N4    &kp N5       &kp UNDER  &kp PLUS  &kp PIPE  &none  &kp LBRC  &kp RBRC
                &kp TILDE &kp N6    &kp N7   &kp N8    &kp N9    &kp N0       &kp MINUS  &kp EQUAL &kp BSLH  &none  &kp LBKT  &kp RBKT
                &kp DOT   &kp EXCL  &kp AT   &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS  &kp STAR  &none  &kp LPAR  &kp RPAR
                                             &kp LCTRL &none     &kp SPACE    &kp RET    &none     &kp LALT
            >;
        };

        L2_layer {
            // -----------------------------------------------------------------------------------------
            // |     |  F1  |  F2  |  F3  |  F4  |  F5  |   | HOME|PG_DN|PG_UP| END |     | BKSP |
            // |     |  F6  |  F7  |  F8  |  F9  |  F10 |   | LEFT| DOWN|  UP |RIGHT|     |      |
            // | SHFT|  F11 |  F12 |      |      |      |   |     |     |     |     |     |  GUI |
            //                     |  ALT | BKSP |  ENT |   | ENT |     | ALT |
            bindings = <
                &none     &kp F1   &kp F2   &kp F3   &kp F4    &kp F5       &kp HOME  &kp PG_DN &kp PG_UP &kp END   &none    &kp BSPC
                &none     &kp F6   &kp F7   &kp F8   &kp F9    &kp F10      &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &none    &none
                &kp LSHFT &kp F11  &kp F12  &none    &none     &none        &none     &none     &none     &none     &none    &kp LGUI
                                            &kp LALT &kp BSPC  &kp RET      &kp RET   &none     &kp LALT
            >;
        };

       L3_layer {
            // -----------------------------------------------------------------------------------------
            // |  `  |     |     |     |     |     |   | HOME|PG_DN|PG_UP| END |     |  DEL |
            // |  ~  |     |     |     |     |     |   | LEFT| DOWN|  UP |RIGHT|     |      |
            // | SHFT|     |     |     |     |     |   | PREV|VOLDN| MUTE|VOLUP| NEXT|PLAY_PAUSE|
            //                   | CTRL|  4  | SPC |   | ENT |     | ALT |
            bindings = <
                &kp GRAVE   &none   &none    &none    &none    &none          &kp HOME     &kp PG_DN    &kp PG_UP    &kp END      &none        &kp DEL
                &kp TILDE   &none   &none    &none    &none    &none          &kp LEFT     &kp DOWN     &kp UP       &kp RIGHT    &none        &none
                &kp LSHFT   &none   &none    &none    &none    &none          &kp C_PREV   &kp C_VOL_DN &kp C_MUTE   &kp C_VOL_UP &kp C_NEXT   &kp C_PP
                                          &kp LCTRL   &mo 4    &kp SPACE      &kp RET      &none        &kp LALT
            >;
        };

        L4_layer {
            // -----------------------------------------------------------------------------------------
            // | BTCLR|     |     |     | BOOT|RESET|   |RESET| BOOT|     |     |     |      |
            // |      |     |     |     |     | OUT |   |     |     |     |     |     |      |
            // |      | BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |      |
            //                    |     |     |     |   |     |     |     |
            bindings = <
                &bt BT_CLR  &none         &none         &none         &bootloader   &sys_reset      &sys_reset  &bootloader  &none  &none  &none  &none
                &none       &none         &none         &none         &none         &out OUT_TOG    &none       &none        &none  &none  &none  &none
                &none       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &none       &none        &none  &none  &none  &none
                                                        &none         &none         &none           &none       &none        &none
            >;
        };

        L5_layer {
            bindings = <
                &kp BSPC   &kp P    &kp O   &kp I     &kp U   &kp Y        &kp Y   &kp U  &kp I     &kp O   &kp P    &kp BSPC
                &kp SQT    &kp SEMI &kp L   &kp K     &kp J   &kp H        &kp H   &kp J  &kp K     &kp L   &kp SEMI &kp SQT
                &kp LSHFT  &kp FSLH &kp DOT &kp COMMA &kp M   &kp N        &kp N   &kp M  &kp COMMA &kp DOT &kp FSLH &kp LGUI
                                           &kp LCTRL &kp LALT &none        &kp RET &mo 3  &kp LALT
            >;
        };
    };
};